<!DOCTYPE html>
<html ng-app="speed-data-app">
  <head>
    <!-- injector:css -->
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <!-- endinjector -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div ng-controller="baseController" layout="column" layout-align="center" flex layout-margin>
      <h1 layout="row" layout-align="center">Speed Dating Data Visualizer</h1>
      <h2 layout="row" layout-align="center">Under construction...</h2>
      <div layout="row" style="margin:auto;">
        <div layout="column" layout-align="center center" style="height: 100px;margin-right: 800px;">
          <md-select ng-model="mAttribute" style="min-width: 200px;">
            <md-select-label class="_select_text">{{ mAttribute ? mAttribute.human_readable_attribute_name : 'Please choose an attribute for men' }}</md-select-label>
            <md-option ng-value="attribute" ng-repeat="attribute in attributes | orderBy:'-human_readable_attribute_name'">{{ attribute.human_readable_attribute_name }}</md-option>
          </md-select>
        </div>
        <div layout="column" layout-align="center center" style="height: 100px;">
          <md-select ng-model="wAttribute" style="min-width: 200px;">
            <md-select-label class="_select_text">{{ wAttribute ? wAttribute.human_readable_attribute_name : 'Please choose an attribute for women' }}</md-select-label>
            <md-option ng-value="attribute" ng-repeat="attribute in attributes | orderBy:'-human_readable_attribute_name'">{{ attribute.human_readable_attribute_name }}</md-option>
          </md-select>
        </div>
      </div>
      <div style="margin:auto;" class="aGraph">
        <svg id="graph" width="1200" height="5000"></svg>
      </div>
    </div><!-- injector:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="/bower_components/angular-aria/angular-aria.js"></script>
<script src="/bower_components/angular-material/angular-material.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bower_components/d3/d3.js"></script>
<!-- endinjector -->
    <script src="js/app.min.js"></script>
  </body>
</html>