doctype html
html(ng-app='speed-data-app')
	head
		link(rel='stylesheet', href='bower_components/angular-material/angular-material.min.css')
		link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='css/style.css')
	body
		div(ng-controller="baseController")
			h1 Hello World
			h2 welcome to my incredible project !

		<!-- bower:js -->
		<!-- endbower -->

		script(src='bower_components/jquery/dist/jquery.min.js')
		script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
		script(src='bower_components/angular/angular.min.js')
		script(src='bower_components/angular-animate/angular-animate.min.js')
		script(src='bower_components/angular-aria/angular-aria.min.js')
		script(src='bower_components/angular-material/angular-material.min.js')
		script(src='js/app.js')


