doctype html
html(ng-app='speed-data-app')
	head
		<!-- injector:css -->
		<!-- endinjector -->
		
		link(rel='stylesheet', href='css/style.css')
	
	body
		div(ng-controller="baseController", layout="column", layout-align="center", flex, layout-margin)
			h1(layout="row", layout-align="center") Speed Dating Data Visualizer
			h2(layout="row", layout-align="center") Under construction...
			div(layout="row", style="margin:auto;")
				div(layout="column",layout-align="center center",style="height: 100px;margin-right: 800px;")
					md-select(ng-model="mAttribute",style="min-width: 200px;")
						md-select-label(class="_select_text")
							{{ mAttribute ? mAttribute.human_readable_attribute_name : 'Please choose an attribute for men' }}
						md-option(ng-value="attribute",ng-repeat="attribute in attributes | orderBy:'-human_readable_attribute_name'")
							{{ attribute.human_readable_attribute_name }}
				div(layout="column",layout-align="center center",style="height: 100px;")
					md-select(ng-model="wAttribute", style="min-width: 200px;")
						md-select-label(class="_select_text")
							{{ wAttribute ? wAttribute.human_readable_attribute_name : 'Please choose an attribute for women' }}
						md-option(ng-value="attribute",ng-repeat="attribute in attributes | orderBy:'-human_readable_attribute_name'")
							{{ attribute.human_readable_attribute_name }}
			div(class="aGraph", style="margin:auto;")
				svg(id="graph", width="1200",height="500")
		<!-- injector:js -->
		<!-- endinjector -->

		script(src='js/app.min.js')