doctype html
html(ng-app='speed-data-app')
	head
		<!-- injector:css -->
		<!-- endinjector -->
		
		link(rel='stylesheet', href='css/style.css')
	
	body
		div(ng-controller="baseController", layout="column", layout-align="center", flex, layout-margin)
			h1(layout="row", layout-align="center") Speed Dating Data Visualizer
			h2(layout="row", layout-align="center") Under construction...
			div(class="aGraph", style="position:absolute;top:0px;left:0; float:left;")
				svg(id="graph", width="1200",height="500")

		<!-- injector:js -->
		<!-- endinjector -->

		script(src='js/app.min.js')