doctype html
html(ng-app='speed-data-app')
	head
		<!-- injector:css -->
		<!-- endinjector -->
		
		link(rel='stylesheet', href='css/style.css')
	body
		div(ng-controller="baseController")
			h1 Hello World
			h2 welcome to my incredible project !
		
		<!-- injector:js -->
		<!-- endinjector -->

		script(src='js/app.js')


